[submodule "deps/sagelang"]
	path = deps/sagelang
	url = https://github.com/Night-Traders-Dev/sagelang
[submodule "deps/SageVM"]
	path = deps/SageVM
	url = https://github.com/Night-Traders-Dev/SageVM
[submodule "deps/pico-sdk"]
	path = deps/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "deps/pico-sdk-tools"]
	path = deps/pico-sdk-tools
	url = https://github.com/raspberrypi/pico-sdk-tools
